<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">HOME</a></li>
      <li><a href="/guitars">guitar</a></li>
      <li><a href="/some-staff">Components</a></li>
    </ul>
  </div>
</nav>